$white-1: rgb(200, 200, 200);

$navy-blue: rgb(1, 33, 103);

$purple: rgb(45, 3, 100);

$fuchsia: rgb(77, 3, 100);

$orange: rgb(216, 111, 41);

$yellow: rgb(187, 170, 22);

$navy-blue-2: rgb(9, 27, 109);

$blue: rgb(7, 75, 163);

$dark-blue: rgb(4, 19, 88);

$dark-blue-2:rgb(3, 8, 36);

$lemon: rgb(137, 209, 21);

$lemon-rgba: rgb(137, 209, 21, 0.9);

$green-2: rgb(16, 161, 52);

$green-2-rgba: rgba(16, 161, 52, 0.9);

$dark-green-1: rgb(3, 70, 0);

$dark-green-2: rgba(2, 46, 0, 0.9);

$light-blue: rgb(6, 173, 214);

$light-blue-rgba: rgba(6, 173, 214, 0.6);

$dark-blue-3: rgb(0, 11, 70);

$green:rgb(24, 87, 11);

$grey-1: rgb(30, 30, 30);

$grey-2: rgb(40, 40, 40);

$dark-blue-4: rgb(2, 4, 46);

$dark-green-3: rgb(8, 36, 9);

$light-green: rgb(78, 116, 79);

$light-blue-2: rgb(106, 170, 170);

$rose: rgb(189, 146, 178);

$grey-4: rgb(60, 60, 60);

$white-2: rgb(220, 220, 220);

$dark-blue-5: rgb(11, 20, 68);

$white-3: rgb(230, 230, 230);

$grey-3: rgb(50, 50, 50);

$black: rgb(10, 10, 10);

